<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- this button is the hamburger menu button that will only show up if the screen is small and it has only 3 options -->
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
                <span class="icon-bar" *ngFor="let iconBar of [1,2,3]"></span>
            </button>
            <!-- clickable header -->
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>

        <!-- links to recipe & shopping list-->
        <div class="collapse navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
            <ul class="nav navbar-nav">
                <!-- selected which page to load. Use RouterLink via routing and set it each button to the absolute link of the button type  -->
                <!-- routerlinkActive=active, is a directive that sets the current tab to active -->
                <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
                <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
            </ul>

            <!-- dropDown Menu to save and get data -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <!-- span caret is what addes the little dropdown arrow next to manage -->
                    <a href="#" class="dropdown-toggle" role="button">manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Save Data</a></li>
                        <li><a href="#">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>