<div class="row">
    <div class="col-xs-12">
        <!-- here we are using reactive form control. where as we are using template form control in edit-sl -->
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" [disabled]="!recipeForm.valid">Save</button>
                    <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
                </div>
            </div>
        <!-- the value of formCOntrolName is based off of what we set the recipeForm object to in the ts file -->
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" formControlName="name">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="imgPath">Img URL</label>
                    <input type="text" id="imgPath" class="form-control" formControlName="imgPath" #imgPath>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <img [src]="imgPath.value" class="img-response">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea type="text" id="name" class="form-control" rows="6" formControlName="description"></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- where we are doing form control for INgredients -->
            <div class="col-xs-12" formArrayName="ingredients">
                <div 
                class="row" 
                *ngFor="let ingredientCrtl of Controls; let i = index" 
                [formGroupName]="i">
                    <div class="col-xs-8">
                        <input type="text" class="form-control" formControlName="name">
                    </div>
                    <div class="col-xs-2">
                        <input type="number" class="form-control" formControlName="amount">
                    </div>
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-danger" (click)="onDeleteIng(i)">X</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-success" type="button" (click)="onAddIng()">Add Ingredient</button>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>